
<div class="container">
    <legend>Login</legend>

    <div class="mb-3">
        <label for="txtUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="txtUsername" [(ngModel)]="loginForm.username" />
    </div>
    <div class="mb-3">
        <label for="txtPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="txtPassword" [(ngModel)]="loginForm.password" />
    </div>

    <button type="button" class="btn btn-dark" (click)="login()">Submit</button>
</div>